<h1 class="span-10">
  <a href="/">Weather Whimsy</a>
</h1>

<div class="span-14 last">
  <div>
    <a href="#">Log In</a>
    <a href="#">Sign Up</a>
  </div>
</div>

<!-- 
  <br clear="all" />
-->

