
<div class="zipcode_header">
  ZIP CODE
  <br />
  <a id="detail_page_link_{{id}}" href="/zip_codes/detail/{{id}}" class="detail_page_link">
    {{zip}}
  </a>
</div>
<div class="zipcode_links">
  <a class="zipcode_detail_link" href="#">
    Show Details
  </a>
  <div class="hidden zipcode_details">
    Location: {{description}}
  </div>
</div

<br />
<br />
<br />

