
/* colors:
  dark blue: #513CFF
  light blue: #07C2E8
  green: #15FF3E
  yellow: #E8E707
  orange: #FFA302
*/

html {
  background-color: #07C2E8;
  /* color: #513CFF; */
  color: #FFA302;
}

a {
  color: #15FF3E;
}

.hidden {
  display: none;
}

#my-sidebar {
  background-color: #513CFF;
  height: 600px;
  float: left;
  margin: 2px;
  padding: 5px;
}

div#logo {
  background-image: url('clouds_and_stars.png');
  background-repeat: no-repeat;
  height: 110px; width: 210px;
}


