<!DOCTYPE html>
<html>
  <head>
    <title>
      Weather Whimsy
    </title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="logo">
    </div>

    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>

